<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Note</title>
</head>
<body>

<h2>Create New Note</h2>

<form action="/my-notes/create" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <input type="text"
           name="title"
           placeholder="Note Title">

    <br><br>

    <textarea name="content"
              placeholder="Write your note here..."
              rows="6"
              cols="40"></textarea>

    <br><br>

    <button type="submit">Save Note</button>

</form>

<br>
<a href="/my-notes">← Back to My Notes</a>

</body>
</html>