<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

<h2>Login</h2>

<!-- Show error message if login failed -->
<p th:if="${param.error}" style="color:red;">
    Invalid username or password.
</p>

<!-- Show message after logout -->
<p th:if="${param.logout}" style="color:green;">
    You have been logged out.
</p>

<form action="/login" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <input type="text"
           name="username"
           placeholder="Username">

    <br><br>

    <input type="password"
           name="password"
           placeholder="Password">

    <br><br>

    <button type="submit">
        Login
    </button>

</form>

<br>
<a href="/register">Don't have an account? Register here</a>

</body>
</html>